---
notes: |
  Green and Blue `button` components.
---

<div class="button button--rounded button--green">Green button</div>
<div class="button button--green">Green square button</div><br><br>
<div class="button button--rounded button--blue">Blue button</div>
<div class="button button--blue">Blue square button</div>
