---
notes: |
  `link` components. Extend with: `.text--x` (where x = color || size || decoration || weight || alignment )
---

<a href="#" class="text--blue">Blue Link</a><br><br>
<a href="#" class="text--green">Green Link</a><br><br>
<a href="#" class="text--green text--bold">Bold Green Link</a><br><br>
<a href="#" class="text--grey text--24"> 24px Grey Link</a><br><br>
<a href="#" class="text--scgreen text--12 text--underline">12px Underlined SCGreen Link</a>
