@import "_colours";
@import "_variables";

/*
=======================================================================
================================================================DEFAULT
=======================================================================
*/
.button {
	display: inline-block;
	width: auto;
	font-size: 16px;
	line-height: .5cm;
	text-decoration: none;
	outline: 0;
	padding: 20px;
	text-align: center;
	margin: 0 10px 0 0;
	color: $white;
	&:hover, &:active, &:focus {
		color: $white;
	}
	&:hover {
		cursor: pointer;
	}

	&--rounded {@include roundy(5px);}
	&--green {
		background: $scgreen;
	}
	&--blue {
		background: $blue;
	}
	&--square {

	}
}

.center--all {
	.button {
		margin: 5px;
	}
}
