@import "_variables";
@import "_colours";

.hero--careers {
	background: url("http://cdn.safetyculture.io/scio/assets/images/general/careers-hero.jpg") no-repeat center $darkblue;
	@include coverimage;
}

a.careers--joblist {
	color: $darkblue;
	display: block;
	border-bottom: 1px solid $grey4;
	padding: 15px 0;
	margin: 0 10px;
	@include whitney-light;
	font-size: 20px;
	background: url("http://cdn.safetyculture.io/scio/assets/images/general/arrow-circle-right-green.png") no-repeat right center;
	background-size: 35px 35px;
	&:hover {
		color: $blue;
		background-image: url("http://cdn.safetyculture.io/scio/assets/images/general/arrow-circle-right-blue.png");
	}
	//On Extra Small devices we want to remove the bottom border from the last item
	@include xs-breakpoint {
		&.last {
			border-bottom: none;
		}
	}
}

.bg--curve {
	margin-top: -50px;
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	height: 70px;
	width: 100%;
	img {
		width: 100%;
	}
}

.bg--safetyculturetick {
	background-image: url("http://cdn.safetyculture.io/scio/assets/images/general/safetyculture-tick-bg.png");
	background-position: center center;
	background-repeat: no-repeat;
}

.carousel {
	.item {
		img {
			margin: 0 auto;
			&.quote--photo {
				@include roundy(150px);
				width: 150px !important;
				margin: 0 auto;
			}
		}
	}
	*:focus {
		outline: 0 !important;
	}
	*:active {
		outline: 0 !important;
	}
	ul.slick-dots {
		margin: 0;
		padding: 40px 0 0 0;
		text-align: center;
		li {
			list-style: none;
			display: inline-block;
			button {
				text-indent: -9999px;
				background: none;
				@include roundy(10px);
				height: 12px;
				width: 12px;
				border: 1px solid $bluegreydark;
				display: inline-block;
				text-align: center;
				margin: 2px;
				padding: 0;
			}
			&.slick-active {
				button {
					background: $bluegreydark;
				}
			}
		}
	}
}

.instagramfeed img {
	padding: 5px !important;
}
