/*
=======================================================================
================================================================COLOURS
=======================================================================
This is replicated in fabricator/styles/partials/_code.scss
*/



$skyblue:	#6ecef2;
$blue:		#289fd7;
$darkblue:	 #275875;
$blue3:	 	#eef3f5;
$green: 	#87d2a5;
$white:		#ffffff;
$red:		#e67777;
$grey1:		#f8f8f8;
$grey2:		#f5f5f5;
$grey3:		#f1f1f1;
$grey4:		#ececec;
$grey5:		#eeeeee;
$grey6:		#d3d5d7;
$grey7:		#cccccc;
$grey8:		#bbbbbb;
$grey9:		#aaaaaa;
$grey:		#9c9c9c;
$grey11:	#626262;
$grey12:	#303134;
$grey13:    #dddddd;
$bluegrey:  #f1f5fa;
$bluegreydark: #8499ae;
$scgreen: #a2b63a;


$colors: (
	"skyblue": $skyblue,
	"blue": $blue,
	"darkblue": $darkblue,
	"green": $green,
	"white": $white,
	"grey": $grey,
	"red":	$red,
	blue3: $blue3,
	grey1: $grey1,
	grey2: $grey2,
	grey3: $grey3,
	grey4: $grey4,
	grey5: $grey5,
	grey6: $grey6,
	grey7: $grey7,
	grey8: $grey8,
	grey9: $grey9,
	grey11: $grey11,
	grey12: $grey12,
	grey13: $grey13,
	bluegrey: $bluegrey,
	bluegreydark: $bluegreydark,
	scgreen: $scgreen,
);
