@mixin height() {
	&--1 		{ height: 1px; }
	&--2 		{ height: 2px; }
	&--3 		{ height: 3px; }
	&--4 		{ height: 4px; }
	&--5 		{ height: 5px; }
	&--10 		{ height: 10px; }
	&--20 		{ height: 20px; }
	&--30 		{ height: 30px; }
	&--40 		{ height: 40px; }
	&--50 		{ height: 50px; }
	&--60 		{ height: 60px; }
	&--70 		{ height: 70px; }
	&--80 		{ height: 80px; }
	&--90 		{ height: 90px; }
	&--100 		{ height: 100px; }
}

.height { @include height(); }

@include md-breakpoint 	{ .md_height { @include height(); } }
@include sm-breakpoint 	{ .sm_height { @include height(); } }
@include xs-breakpoint	{ .xs_height { @include height(); } }
