@mixin text() {


	//Font Colors
	@each $profile, $textcolor in $colors {
	    &--#{$profile},
	    &--#{$profile}_h:hover {
	        color: $textcolor;
	    }
	}



	//Weight
	&--light  		{ @include whitney-light; }
	&--medium 		{ @include whitney-medium; }
	&--bold    		{ @include whitney-bold; }
	&--light-var 	{ font-family: $gibson-light; }
	&--medium-var 	{ font-family: $gibson-regular; }
	&--bold-var 	{ font-family: $gibson-semibold; }



	//Decoration
	&--underline,	&--underline_h:hover	{ text-decoration: underline; }



	//Style
	&--italic    { font-style: italic; }



	//Alignment
	&--left   { text-align: left; }
	&--center { text-align: center; }
	&--right  { text-align: right; }



	//Size
	&--12  { font-size: 12px; line-height: .5cm; }
	&--14  { font-size: 14px; line-height: .55cm; }
	&--16  { font-size: 16px; line-height: .6cm; }
	&--18  { font-size: 18px; line-height: .65cm; }
	&--20  { font-size: 20px; line-height: .7cm; }
	&--22  { font-size: 22px; line-height: .75cm; }
	&--24  { font-size: 24px; line-height: .8cm; }
	&--26  { font-size: 26px; line-height: .85cm; }
	&--28  { font-size: 28px; line-height: .9cm; }
	&--30  { font-size: 30px; line-height: .95cm; }
	&--32  { font-size: 32px; line-height: 1cm; }
	&--34  { font-size: 34px; line-height: 1.05cm; }
	&--36  { font-size: 36px; line-height: 1.1cm; }
	&--38  { font-size: 38px; line-height: 1.15cm; }
	&--40  { font-size: 40px; line-height: 1.2cm; }
	&--42  { font-size: 42px; line-height: 1.25cm; }
	&--44  { font-size: 44px; line-height: 1.3cm; }
	&--46  { font-size: 46px; line-height: 1.35cm; }
	&--48  { font-size: 48px; line-height: 1.4cm; }
	&--50  { font-size: 50px; line-height: 1.45cm; }
	&--52  { font-size: 52px; line-height: 1.5cm; }
	&--54  { font-size: 54px; line-height: 1.55cm; }
	&--56  { font-size: 56px; line-height: 1.6cm; }
	&--58  { font-size: 58px; line-height: 1.65cm; }
	&--60  { font-size: 60px; line-height: 1.7cm; }


}



.text { @include text(); }
@include md-breakpoint 	{ .md_text { @include text(); } }
@include sm-breakpoint 	{ .sm_text { @include text(); } }
@include xs-breakpoint	{ .xs_text { @include text(); } }
