@mixin bg() {


	//Background
	@each $profile, $bgcolor in $colors {
	    &--#{$profile},
	    &--#{$profile}_h:hover {
	        background: $bgcolor;
	    }
	}

	&--none, &--none_h:hover { background: none; }
}

.bg { @include bg(); }

@include md-breakpoint 	{ .md_bg { @include bg(); } }
@include sm-breakpoint 	{ .sm_bg { @include bg(); } }
@include xs-breakpoint	{ .xs_bg { @include bg(); } }
