/*
=======================================================================
=================================================================FLOATS
=======================================================================
Ability to float right, left and clear
*/
@mixin float() {
	&--right 		{ float: right; }
	&--left			{ float: left; }
	&--none 		{ float: none; }
}
.float { @include float(); }
@include md-breakpoint 	{ .md_float { @include float(); } }
@include sm-breakpoint 	{ .sm_float { @include float(); } }
@include xs-breakpoint	{ .xs_float { @include float(); } }




/*
=======================================================================
=================================================================CENTER
=======================================================================
Center a container or center everything (including text)
*/
@mixin center() {
	&--all {
		margin: 0 auto;
		text-align: center;
	}

	&--container {
		margin: 0 auto;
	}

	&--text {
		text-align: center;
	}
}
.center { @include center(); }
@include md-breakpoint 	{ .md_center { @include center(); } }
@include sm-breakpoint 	{ .sm_center { @include center(); } }
@include xs-breakpoint	{ .xs_center { @include center(); } }




/*
=======================================================================
===========================================================MIDDLE ALIGN
=======================================================================
Center a container or center everything (including text)
*/

@mixin table() {
	&--outer	{ display: table; }
	&--cell		{ display: table-cell; float: none; vertical-align: middle; }
	&--none	{ display: block; }
}
.table { @include table(); }
@include md-breakpoint 	{ .md_table{ @include table(); } }
@include sm-breakpoint 	{ .sm_table { @include table(); } }
@include xs-breakpoint	{ .xs_table { @include table(); } }





@mixin vcenter() {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

@mixin vcenternone() {
	display: block;

}

.vcenter { @include vcenter(); }
.vcenter--none {@include vcenternone; }

@include md-breakpoint 	{ .md_vcenter { @include vcenter(); } }
@include sm-breakpoint 	{ .sm_vcenter { @include vcenter(); } }
@include xs-breakpoint	{ .xs_vcenter { @include vcenter(); } }

@include md-breakpoint 	{ .md_vcenter--none { @include vcenternone(); } }
@include sm-breakpoint 	{ .sm_vcenter--none { @include vcenternone(); } }
@include xs-breakpoint	{ .xs_vcenter--none { @include vcenternone(); } }
