
@mixin border() {
	//Color
	//Border Colors
	@each $profile, $bordercolor in $colors {
	    &--#{$profile},
	    &--#{$profile}_h:hover {
	        border: 1px solid $bordercolor;
	    }
	}

	//Width
	&--2	{ border-width: 2px; }
	&--4	{ border-width: 2px; }
	&--6	{ border-width: 2px; }
	&--8	{ border-width: 2px; }
	&--10	{ border-width: 2px; }

}

.border { @include border(); }

@include md-breakpoint 	{ .md_bg { @include border(); } }
@include sm-breakpoint 	{ .sm_bg { @include border(); } }
@include xs-breakpoint	{ .xs_bg { @include border(); } }
