/*
==================
==Spacer Classes==
==================
These are used to create height spaces
eg.
<div class="spacer spacer--10"></div>
*/


.form--basic {
	.form__group {
		label {
			width: 100%;
			display: block;
		}
		input {
			width: 100%;
			display: block;
		}
	}


	.form--partnersignup {
		label {
			font-size: 14px;
		}
		input {
			border: 1px solid grey;
			padding: 5px;
		}
	}





}
