/*
	Default link style
	Extend with:
		.text--x (where x = color || size || decoration || weight || alignment )
*/

a {
	text-decoration: none;
	color: inherit;
	&:hover, &:focus, &:active {
		text-decoration: none;
		color: inherit;
	}
}
