/*
=======================================================================
============================================================BREAKPOINTS
=======================================================================
*/
$xs-width: 767px;
$sm-width: 992px;
$md-width: 1200px;

@mixin xs-breakpoint {
	@media (max-width: $xs-width) {
		@content;
	}
}

@mixin sm-breakpoint {
	@media (max-width: $sm-width) {
		@content;
	}
}

@mixin md-breakpoint {
	@media (max-width: $md-width) {
		@content;
	}
}


@mixin coverimage {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}





/*
=======================================================================
================================================================COLOURS
=======================================================================
*/

//Corporate Colors
$color0: #289fd7;
$color1: #a2b63a;
$color2: #ffb92b;
$color3: #275875;


//Extra Colors
$color100:	#edbbbb;
$color101:	#c5e5de;
$color102:	#e59467;
$color103:	#e67777;
$color104:	#877cbe;
$color105:	#955474;
$color106:	#87d2a5;
$color107:	#6fbcd8;
$color108:	#c16d8d;
$color109:	#58bebf;
$color110:	#e6b268;
$color111:	#61656c;
$color112:	#eef3f5;
$color113:	#f4f8fa;


//Greys
$color200:	#ffffff;
$color201:	#f8f8f8;
$color202:	#f5f5f5;
$color203:	#f1f1f1;
$color204:	#ececec;
$color205:	#eeeeee;
$color206:	#dddddd;
$color207:	#cccccc;
$color208:	#bbbbbb;
$color209:	#aaaaaa;
$color210:	#8d8d8d;
$color211:	#626262;
$color212:	#484848;
$color213:	#303134;












/*
=======================================================================
==================================================================FONTS
=======================================================================
*/

$gibson-light: 		Gibson-Light;
$gibson-regular: 	Gibson-Regular;
$gibson-semibold:	Gibson-Semibold;


$robotoslab: 'Roboto Slab', serif;

@mixin whitney {
	font-family: 'Whitney A', 'Whitney B', sans-serif;
	font-style: normal;
}


@mixin whitney-light {
	font-weight: 300;
}

@mixin whitney-medium {
	font-weight: 500;

}

@mixin whitney-bold {
	font-weight: 600;
}


/*
=======================================================================
==========================================================ROUND CORNERS
=======================================================================
*/
@mixin roundy($radius) {
	-moz-border-radius: $radius;
	border-radius: $radius;
}


@mixin roundytop($radius) {
	-moz-border-top-left-radius: $radius;
	-moz-border-top-right-radius: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}


@mixin roundybottom($radius) {
	-moz-border-bottom-left-radius: $radius;
	-moz-border-bottom-right-radius: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}



@mixin roundyleft($radius) {
	-moz-border-bottom-left-radius: $radius;
	-moz-border-top-left-radius: $radius;
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}


@mixin roundyright($radius) {
	-moz-border-bottom-right-radius: $radius;
	-moz-border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}




@mixin blur($blur) {
	 -webkit-filter: blur($blur);
	 filter: blur($blur);
}




@mixin animation($animation) {
 -webkit-animation: $animation;
    -moz-animation: $animation;
      -o-animation: $animation;
	  	 animation: $animation;
}


@mixin keyframes($keyframes) {
	@-webkit-keyframes #{$keyframes} {
        @content;
    }
    @-moz-keyframes #{$keyframes} {
        @content;
    }
    @-o-keyframes #{$keyframes} {
        @content;
    }
    @keyframes #{$keyframes} {
        @content;
    }
}



@mixin pauseanimation() {
	-webkit-animation-play-state: paused;
			animation-play-state: paused;
}

/*
=======================================================================
================================================================OPACITY
=======================================================================
*/
@mixin opacity($trans) {
	$IEValue: $trans*100;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
			filter: alpha(opacity = $IEValue);
	  -moz-opacity: $trans;
	-khtml-opacity: $trans;
	       opacity: $trans;
}
