/**
 * Github-like theme for Prism.js
 * @author Luke Askew http://github.com/lukeaskew
 */

$skyblue:	#6ecef2;
$blue:		#289fd7;
$darkblue:	 #275875;
$blue3:	 	#eef3f5;
$green: 	#87d2a5;
$white:		#ffffff;
$red:		#e67777;
$grey1:		#f8f8f8;
$grey2:		#f5f5f5;
$grey3:		#f1f1f1;
$grey4:		#ececec;
$grey5:		#eeeeee;
$grey6:		#d3d5d7;
$grey7:		#cccccc;
$grey8:		#bbbbbb;
$grey9:		#aaaaaa;
$grey:		#9c9c9c;
$grey11:	#626262;
$grey12:	#303134;
$grey13:    #dddddd;
$bluegrey:  #f1f5fa;
$bluegreydark: #8499ae;
$scgreen: #a2b63a;

$code-colors: (
	"skyblue": $skyblue,
	"blue": $blue,
	"darkblue": $darkblue,
	"green": $green,
	"white": $white,
	"grey": $grey,
	"red":	$red,
	blue3: $blue3,
	grey1: $grey1,
	grey2: $grey2,
	grey3: $grey3,
	grey4: $grey4,
	grey5: $grey5,
	grey6: $grey6,
	grey7: $grey7,
	grey8: $grey8,
	grey9: $grey9,
	grey11: $grey11,
	grey12: $grey12,
	grey13: $grey13,
	bluegrey: $bluegrey,
	bluegreydark: $bluegreydark,
	scgreen: $scgreen
);

// base
code,
code[class*='language-'],
pre[class*='language-'] {
	color: map-get($code-colors, black);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	tab-size: 4;
	hyphens: none;
	font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	line-height: 1.4;
	direction: ltr;
	cursor: text;
	letter-spacing: normal;
}

// code blocks
pre[class*='language-'] {
	overflow: auto;
	margin: 1em 0;
	padding: 1.2em;
	border-radius: 3px;
	font-size: 85%;
}

p code,
li code,
table code {
	margin: 0;
	border-radius: 3px;
	padding: 0.2em 0;
	font-size: 85%;

	&:before,
	&:after {
		letter-spacing: -0.2em;
		content: '\00a0';
	}
}

code,
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	background: map-get($code-colors, light-gray);
}

// inline code
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
}


// token colors
.token {

	&.comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: map-get($code-colors, dark-gray);
	}

	&.punctuation,
	&.string,
	&.atrule,
	&.attr-value {
		color: map-get($code-colors, blue);
	}

	&.property,
	&.tag {
		color: map-get($code-colors, green);
	}

	&.boolean,
	&.number {
		color: map-get($code-colors, teal);
	}

	&.selector,
	&.attr-name,
	&.attr-value .punctuation:first-child,
	&.keyword,
	&.regex,
	&.important {
		color: map-get($code-colors, maroon);
	}


	&.operator,
	&.entity,
	&.url,
	.language-css &.string {
		color: map-get($code-colors, purple);
	}

	&.entity {
		cursor: help;
	}

}

.namespace {
	opacity: 0.7;
}
