<div class="hero--careers">

	<a href="" class="careers--joblist">Careers Link</a>
	<div class="bg--curve"></div>
	<div class="bg--safetyculturetick"></div>
	<div class="carousel">
		<div class="item">
			<img src="" alt="" class="quote--photo">
		</div>
		<ul class="slick-dots">
			<li>
				<button></button>
			</li>
			<li class="slick-active">
				<button></button>
			</li>
		</ul>
	</div>
</div>

<div class="instagramfeed">This is my Insty Image
	<img src="" alt="">
</div>
